/****** Made a separate CSS File for Media Queries.  Graceful degradation in action ;) ******/

@media only screen and (max-width: 480px) {
    
    /****** MOBILE STYLES HERE!!! GRACEFUL DEGRADATION OVA HERE!!!! ******/

    /****** General Styles || +++ Mobile +++ || ******/

    /****** ====== Intro Page ====== || +++ Mobile +++ || ******/

    /* canvas {
        margin-top: 160px; */
    }

    /****** ====== Home Page ====== || +++ Mobile +++ || ******/

   html {
       font-size: 16px;
   }


    article {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: .5em;
        margin-right: .5em;
    }


    @media only screen and (max-width: 480px) {

        article {
            display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: .25em;
        margin-right: .25em;
        }

    }


    /* .fdb-logo {
        margin-top: 150px;
        width: 375px;
        height: 175px;
        /* border: solid 5px #951405; 
    } 

    */
     /* .display-3 {
        font-size: 3.5rem;
    } 

    .display-4 {
        font-size: 3rem;
    }

    #learn-more-mobile {
        margin-top: 450px;
    }

    #listen-mobile {
        margin-top: 250px;
    }

    #my-story-mobile {
        margin-top: 20px;
    }

    .my-sound-mobile {
        margin-top: 190px;
        margin-left: 15px;
    }

    div.item img,
    .a .b .c .d .e .f {
        width: 150px;
        height: 150px;
    }

    .next, .prev {
        top: 3650px;
        margin-bottom: 15px;
    }

    .next:active, .prev:active {
        top: 3650px;
        margin-bottom: 15px;
        box-shadow: 0 1px 0 #999;
    }

    .mobile-adjustment {
        margin-top: 150px;
    }

    .iphone-XS-adjustment {
        margin-top: 300px; 
    } */ 

    

    

    /****** ====== Contact Page ====== || +++ Mobile +++ || ******/

    /* #contact-title {
        margin-top: 200px; */
    /* }

} */

/****** ====== Media Page ====== || +++ Mobile [Landscape Mode] +++ || ******/

/* @media only screen and (min-width: 576px) {
    h2 {
        margin-top: 100px;
    }

    .title {
        margin-top: 200px;
    }

    #accordian {
        margin-bottom: 20px;
    }

     /****** ====== Intro Page ====== || +++ Mobile [Landscape Mode] +++ || ******/

     /* .floppy-disk {
         margin-top: 40px;
     }

     canvas {
         margin-top: 50px;
     } */ 


    /****** ====== Home Page ====== || +++ Mobile +++ || ******/

    /* #parallax-header {
        margin-top: 400px;
    }

    /****** ====== About Page ====== || +++ Mobile [Landscape Mode] +++ || ******/
/* 
    #the-craig {
        margin-top: 70px;
    }

    #the-method {
        margin-bottom: 25px;
    }

    /****** ====== Contact Page ====== || +++ Mobile [Landscape Mode] +++ || ******/

    /* #contact-title {
        margin-top: 200px;
    }


}  */ 


/* @media only screen and (min-width: 320px) {

    /****** General Styles || +++ Mobile: Viewport < 320px +++ || ******/

    /****** ====== Home Page ====== || +++ Mobile +++ || ******/

    /* .fdb-logo {
        margin-top: 300px;
        width: 282px;
        height: 130px;
    }

    .next, .prev {
        top: 3499px; 
    }

    .next:active, .prev:active {
        top: 3499px; 
        box-shadow: 0 1px 0 #999;
    }

    #my-sound-mobile {
        margin-bottom: 275px;
        padding-right: 35px;
    }

    .item {
        margin-top: 40px;
        height: 150px;
        width: 150px;
    }

    .carousel-container {
        margin-top: 50px;
        height: 150px;
        width: 150px;
    }

    img.img-mobile {
        height: 150px;
        width: 150px;
    }

    /*#iphone-6-7-8 {
        top: 3500px;
    }

    #iphone-6-7-8:active {
        margin-bottom: 50px;
        box-shadow: 0 1px 0 #999;
    } */
/* 
    .galaxy-note-3-adj {
        margin-bottom: 200px;
    }

    .baseline {
        margin-top: 200px;
        margin-right: 10px;
        
    } 

    

   
} */
