/****** Made a separate CSS File for Media Queries.  Graceful degradation in action ;) ******/







    
/****************** ===--- EXTRA SMALL DEVICES (phones, 600px and down) ---=== *********/

    @media only screen and (max-width: 600px) {

        
        article {
            display:flex;
            justify-content: space-around;
            align-items: center;
            flex-flow: row wrap;
            margin-top: 1em;
            margin-bottom: 1em;
            /* margin-left: .01em;
            margin-right: .01em; */
        }

        header {
            max-height: 100%;
        }

        header figure h1 {
            font-size: .9em;
        }

        header nav {
            width: 60%;
            font-size: 1.125em;
            font-weight: 700;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-flow: row wrap;
            text-transform: uppercase;
        }

        header nav ul {
            display: flex;
            justify-content: space-evenly;
            flex-flow: row nowrap;
        }

        header nav ul li {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row wrap;
            font-size: 1em;
            /* margin-top: .5em; */
        }

        header .content-wrapper {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row wrap;
            width: 100%;
        }


        .neon {
            display: flex; 
            position: relative;
            width: 95%;
            margin: .05em 0 1em 0;
            height: .3rem;
            background: linear-gradient(#0994bd, #07fdf4, #099dbd);
            box-shadow: 0 0 0 0 #222222;
            border-radius: .5rem;
            animation-name: glow-plulse;
            animation-duration: 1.5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(0,0,0,1);  
        }

         .wall {
            display: flex; 
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            background: green;
            height: 100px;
        }


        .icon-bar {
            display: none;
          }

        .icon-bar a {
            display: none;
        }

        .card{
            flex: 0 1 calc(95% - 1em);
        }

        .column {
            flex: 0 1 calc(95% - 1em);
            border-radius: 20px;
        }

        section .section .parallax h1 {
            font-size: 1.8em;
        }



        


    }



/******************** ===--- SMALL DEVICES (portrait tablets and large phones, 600px and up) ---=== ************************/

    @media only screen and (min-width: 600px) {

        article {
            display:flex;
            justify-content: space-around;
            align-items: center;
            flex-flow: row wrap;
            margin-top: 1em;
            margin-bottom: 1em;
            /* margin-left: .01em;
            margin-right: .01em; */
        }


        header figure h1 {
            font-size: 1em;
        }

        header nav ul li {
            font-size: 1em;
            margin-top: .5em;
        }

        header .content-wrapper {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row wrap;
            width: 100%;


        }

        .icon-bar {
            transform: translateY(-5%);
        }

        .card{
            flex: 0 1 calc(95% - 1em);
        }

       

        section .section .parallax h1 {
            font-size: 1.8em;
        }

        

          
    }




/**************====--- MEDIUM DEVICES (landscape tablets, 768px and up) ---====************/    

    @media only screen and (min-width: 768px) {

        header figure {
            width: 30%;
        }

        header figure h1 {
            font-size: 2.5em;
        }

        header .content-wrapper {
            width: 100%;
            justify-content: space-around;
        }

        .content-wrapper {
            max-width: 640px;
            margin: 100px 0;
        }

        .neon {
            display: none;
        }

        .wall {
            display: none;
        }


    }


/**************====--- LARGE DEVICES (Laptops/Desktops, 992px and up.) ---====**********/

    @media only screen and (min-width: 992px) {

    }


/*************====--- EXTRA LARGE DEVICES ( Large Laptops and Desktops, 1200px and up.) ---====*********/

    @media only screen and (min-width: 1200px) {

    }
    