/*******=================== SITE BASE STYLES ======================******/


                             /* Mostly styles for more-common HTML elements */
html {
  font-size: 16px;
}

body {
    color: #e2e3ed;
    font-family: 'Roboto', sans-serif;
    /* height: 100%; */
    background-image: linear-gradient(#ffffff, #000000);
    background-repeat: no-repeat;
    /* margin: 0; */
    font-size: 1em;
    line-height: 1.5;
    text-align: left;
}


ul,
ol {
  display: block;
  margin: 0;
  padding-right: 0;
  padding: 0;
  list-style-type: none;
}

h1 {

  font-size: 3em;

}

h2 {
  font-family: 'OstrichSans-Medium', sans-serif;
  font-size: 2.25em;
  font-weight: 500;
}

h3,
h4 {
  font-family: 'Syncopate', sans-serif;
  font-size: 1.875em;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 1.125em;
  line-height: 1.333;
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: .5em;
  margin-right: .5em;
}

header {
  padding: 15px 0;
  max-height: 150px;

}

 .fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

header .content-wrapper {
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  flex-direction: row;
}

header figure {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header figure h1 {
  display: flex;
  font-family: 'Infinity', sans-serif;
  text-transform: uppercase;
  text-shadow: 0.3px 0.3px 0.5px #07fdf4;
  letter-spacing: 2.1px;
  font-weight: 300;
  color: #0994db;
  line-height: 1em;
}

header figure a {
  text-decoration: none;
}


.neon {
  display: none;
}

.wall {
  display: none;
}

svg rect {
  z-index: 9999;
}

div .color-path {
  display: inline-flex;
  z-index: 8000;
}

header,
footer {
  display: flex;
  background-color: #212121;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/********* ===--- Footer Styles ---=== **********/

footer {
  text-align: center;
  flex-direction: column;
}

footer p {
  margin: 0;
}

footer .content-wrapper {
  width: 55%;
  margin: 30px 0;
}

footer .contact {
  margin-bottom: 50px;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-icons {
  font-size: 1.3125em;
}

footer .copyright {
  margin: 20px 0;
}

/****** Header & Nav Styles ******/
/*===============================*/

/****** More Navigation-Heavy Styles ******/


                               /* Styles for navitagion skeleton */
header nav {
  width: 60%;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  text-transform: uppercase;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* flex-flow: row wrap; */
}

header nav ul li {
  font-size: 1.125em;
}

li {
  display: inline-flex;
  font-family: 'Syncopate', sans-serif;
  transition-duration: 0.5s;
  position: relative;
  text-decoration: none;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover,
li:focus-within {
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

a {
  display: block;
  padding: 8px;
  text-decoration: none;
}

 ul li ul {
  visibility: visible;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: flex;
  min-width: 5rem;
  
}

ul li ul a:hover {
  background-color: #07fdf4;
  opacity: 25%;
}

ul li:hover > ul li,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}
 
 .content-wrapper {

  width: 90%;
  margin: 0 auto; 

} 

                     /* Styles for navigation animation and function */

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

 .position {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  width: 150px;
  height: 40px;
  margin-right: .05em;
  margin-left: .05em;
  padding-right: .05em;
  padding-left: .05em;
}


.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: .5rem;
  margin-right: .5rem;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #07fdf4;
}

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #0994db;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}

#text {
  margin-top: -55px;
  text-align: center;
}

#text a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1rem;
}




  /****** More Header-Specific Styles ******/

.header-inner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  display: flex;
  width: 100%;
  height: 100px;
  margin: auto;
  background-color: #212121;
  }


#site-title {
  display: flex;
  align-items: center;
  font-family: 'Infinity', sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-shadow: 0.3px 0.3px 0.5px #07fdf4;
  letter-spacing: 2.1px;
  font-weight: 300;
  font-style: normal;
  color: #0994db;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1em;
}

#site-title-wrapper {
  width: 50%;
  display: flex;
}

/***** End Header & Nav Styles ******/



/****** SOCIAL MEDIA STICKY SIDEBAR STYLES ******/
/*==============================================*/


.icon-bar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

.icon-bar a {
  display: flex;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 1.25rem;
}

.icon-bar a:hover {
  background-color: #000000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}


/****** HOMEPAGE HERO SLIDESHOW STYLES ******/
/*==========================================*/


.hero-img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.hero-container {
  position: relative;
  z-index: 100;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Positions the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 0.75rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Six columns side by side */
.hero-column {
  float: left;
  width: 16.66%;
}

/* Transparency effect for thumbnail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/****** END HOMEPAGE HERO SLIDESHOW SYTLES ******/
/*==============================================*/



/****** Base Typeography Styles & Fonts ******/

h1 {
  font-size: 3rem;
  font-family: 'Syncopate', sans-serif;
  line-height: 1.9695em;
  margin: 0.563em 0; 
}

h2 {
  font-size: 2.5rem;
  font-family: 'Ostrich Sans', sans-serif;
  line-height: 1.9695em;
  margin: 0.625em 0;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.9695em;
  margin: 1.313em 0;
}


p {
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.9695em;
  margin: 0.75em 0;
}

@font-face {
  font-family: 'Infinity', sans-serif;
  src: url(../fonts/Infinity\ 400.ttf);
}

@font-face {
  font-family: 'Syncopate', sans-serif;
  src: url(../fonts/Syncopate-Regular.ttf),
       url(../fonts/Syncopate-Bold.ttf);
}

@font-face {
  font-family: 'Ostrich Sans', sans-serif;
  src: url(../fonts/ostrich-regular.ttf),
       url(../fonts/OstrichSans-Light.otf),
       url(../fonts/OstrichSans-Medium.otf),
       url(../fonts/OstrichSansDashed-Medium.otf),
       url(../fonts/OstrichSansRounded-Medium.otf),
       url(../fonts/OstrichSans-Heavy.otf),
       url(../fonts/OstrichSans-Bold.otf),
       url(../fonts/OstrichSans-Black.otf);
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url(../fonts/Raleway-Thin.ttf),
       url(../fonts/Raleway-ThinItalic.ttf),
       url(../fonts/Raleway-ExtraLight.ttf),
       url(../fonts/Raleway-ExtraLightItalic.ttf),
       url(../fonts/Raleway-Regular.ttf),
       url(../fonts/Raleway-Italic.ttf),
       url(../fonts/Raleway-Medium.ttf),
       url(../fonts/Raleway-MediumItalic.ttf),
       url(../fonts/Raleway-SemiBold.ttf),
       url(../fonts/Raleway-SemiBoldItalic.ttf),
       url(../fonts/Raleway-Bold.ttf),
       url(../fonts/Raleway-BoldItalic.ttf),
       url(../fonts/Raleway-ExtraBold.ttf),
       url(../fonts/Raleway-ExtraBoldItalic.ttf),
       url(../fonts/Raleway-Black.ttf),
       url(../fonts/Raleway-BlackItalic.ttf);      
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Thin.ttf),
       url(../fonts/Roboto-ThinItalic.ttf),
       url(../fonts/Roboto-Light.ttf),
       url(../fonts/Roboto-Regular.ttf),
       url(../fonts/Roboto-Italic.ttf),
       url(../fonts/Roboto-Medium.ttf),
       url(../fonts/Roboto-MediumItalic.ttf),
       url(../fonts/Roboto-Bold.ttf),
       url(../fonts/Roboto-BoldItalic.ttf),
       url(../fonts/Roboto-Black.ttf),
       url(../fonts/Roboto-BlackItalic.ttf);
}

/****** END SITE BASE STYLES ******/
/*================================*/




/****** Homepage Class and Id Styles ******/
/*========================================*/

.contentBlockHeader {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #0994db;
  text-shadow: 0.3px 0.3px 0.5px #07fdf4;
  padding: 25px;
  font-weight: 500;
}


.contentBlockParagraph {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  text-align:center;
  padding-left: 15px;
  padding-right: 15px;
}

.contentBlockImage {
  height: 300px;
  width: 300px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

.homepageButton {
  background: url("../images/other_buttons/read_more.png") no-repeat;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15.625em;
  height: 9.375em;
}

#homePageParagraphStyle {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px #000000;
}



#webDevelopment {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  display: block;
  border-radius: 20px;
}


.contentBlockWebDev {
  font-family: 'Syncopate', sans-serif;
  text-align: center;
  font-size: 1.25rem;
  transform: uppercase;
  color: #0994db;
  text-shadow: 0.3px 0.3px 0.5px #07fdf4;
  padding: 25px;
  font-weight: 500;
}


/*.page-wrap {
  width: 100%;
  margin: 0 auto;
} */

/****** More General Site Layout Classes ******/

.pageHeader {
  font-family: 'Ostrich Sans', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  transform: uppercase;
  color: #0994db;
  text-shadow: 0.5px 0.5px 1px #07fdf4;
  font-weight: 500;

}

.active {
  background-color: #00fffc;
}


/****** APPROACH PAGE STYLES ******/
/*================================*/

.content {
  font-size: 1rem;
  color: #262626;
  background-size: 49% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.right {
  padding: 1.618em 6.472em 3.236em 50%;
  background-position: 0 50%;
}

.illustration_01 {
  background-color: #50c878;
  background-image: url("../images/approach_imgs/responsive_design.png");
}

.left {
  padding: 1.618em 50% 3.236em 6.472em;
  background-position: 100% 50%;
}

.illustration_02 {
  background-color: #5064c8;
  background-image: url("../images/approach_imgs/web_accessibility.png");
}

.separator {
  padding: 1.618em 0;
}

.illustration_03 {
  background-color: #c850a0;
  background-image: url("../images/approach_imgs/mobile_first.png");
}

.illustration_04 {
  background-color: #c8b450;
  background-image: url("../images/approach_imgs/reactjs.png");
}


/****** End of Approach Page Styles ******/



/****** WEBSITE DEVELOPMENT PAGE STYLES ******/
/*===========================================*/


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Anchors modal */
  z-index: 1; /* Sits at top */
  padding-top: 100px; /* Location of Modal */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enables scroll if need be */
  background-color: rgb(0,0,0); /*Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ reduced opacity */
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Animation Keyframes */

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes glow-plulse {
  from {box-shadow: 0 0 1rem .25rem rgba(0,128,128,1);
    height: .5rem;
  }
    to {box-shadow: 0 .25rem 5rem 1rem rgba(0,180,200,1);
      height: .55rem;}
}
    
    

/* Button to close-out of Modal */

.close {
  color: white;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close2 {
  color: white;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close3 {
  color: white;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close4 {
  color: white;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close5 {
  color: white;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close6 {
  color: white;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close7 {
  color: white;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close8 {
  color: white;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close9 {
  color: white;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close4:hover,
.close4:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close5:hover,
.close5:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close6:hover,
.close6:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close7:hover,
.close7:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close8:hover,
.close8:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close9:hover,
.close9:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-header {
  padding: 2px 16px;
  background-color: #212121;
  color: white;
  margin-top: 50px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #212121;
  color: white;
}

.contentModalParagraph {
  padding-left: 15px;
  padding-right: 15px;
  color: #000;
}



/****** CONTACT FOOTER STYLES ******/
/*=================================*/


/****** Contact Section CSS ******/

#contact { background-color: #ebebeb; }

#contact .full-width { padding: 50px 0px; }

#contact img#contact-img {
    border: 12px solid #fff;
    margin-left: 25px;
}

#contact h2,
#contact #email-header,
#contact #socialmedia-header,
#contact ul { padding-left: 115px; }

#contact #envelope {
  height: 1em;
  width: 2em; 
  padding: 0px 10px 0px 10px;
}

#contact #twitter {
  height: 2rem;
  width: 3rem;
  padding: 0px 10px 0px 10px;
}

#contact #instagram {
  height: 2rem;
  width: 3rem;
  padding: 0px 10px 0px 10px;
}

#contact #linkedin {
  height: 2rem;
  width: 3rem;
  padding: 0px 10px 0px 10px;
}

#contact #github {
  height: 2rem;
  width: 3rem;
  padding: 0px 10px 0px 10px;
}

#contact h2 {
    color: #14668f;
    font-family: 'Ostrich Sans', sans-serif;
    font-size: 2rem;
    line-height: 44px;
}

#contact h3 {
    color: #0994db;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    line-height: 44px;
}

#contact #email-header {
    font-size: 2rem;
    font-weight: 400;
    line-height: 44px;
}

#contact #socialmedia-header {
    font-size: 1.813rem;
    font-weight: bold;
    line-height: 44px;
    margin: 40px 0px 0px 0px;
}

#contact a {
    color: #0678bf;
    font-size: 1.563rem;
    font-weight: bold;
    text-decoration: none;
}

#contact ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  list-style: none; 
}

#contact ul li { display: inline-block; }

#contact ul img { padding-right: 48px; }

#contact img {
  height: 43.75em; 
  width: 31.25em;
  z-index: 5;
}


/****** Work Section of About Page Styles ******/

#work {
  background-color: #404040;
  text-align: center;
}

#work .full-width { padding: 50px 0px; }

#work img { padding-bottom: 30px; }

#work h3 {
  color: #0798f2;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  line-height: 32px;
  margin: 0px auto;
  width: 190px;
}

#work p {
  color: #4e94bf;
  font-family: 'Roboto', serif;
  font-size: 1rem;
  line-height: 30px;
  padding: 0px 50px;
}

#about-me {
  width: 100%;
  margin: 10px;
  background-color: #e5e5e5;
  display:flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 10px;
  flex-direction: column;
}

/****** Contact Footer Grid Area Styles *****/

/******* General Grid Skeleton ******/

* {
  box-sizing: border-box;
  }
  
  .col-1 {
    width: 8.33%;
  }
  
  .col-2 {
    width: 16.66%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: 33.33%;
  }
  
  .col-5 {
    width: 41.66%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 58.33%;
  }
  
  .col-8 {
    width: 66.66%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-10 {
    width: 83.33%;
  }
  
  .col-11 {
    width: 91.66%;
  }
  
  .col-12 {
    width: 100%;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
  }
  
  .row::after {
    content: "";
    clear: both;
    display: flex;
  }


/****** FOOTER GRID ******/

.full-width { 
  display: flex;
  justify-content: center;
  align-items: center;       
  margin: 0px auto;
  overflow: auto;
  flex-flow: row wrap;
}

.half-width {
  float: left;
  width: 600px;
}

.third-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  float: left;
  
}

.forth-width {
  float: left;
  width: 300px;
}

/****** END FOOTER GRID ******/
/*===========================*/




/***** FLEXBOX CARD STYLES ******/
/*==============================*/

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 20px;
}

.card {
  flex: 0 1 calc(33.33% - 1em);
  background-color: #e5e5e5;
  border-radius: 20px;
  
  
  
}



/******* Styles for 'Utility/Function Objects' such as accordians, collapsible panells, ect ******/
/*===============================================================================================*/


                           /****** Collapsible Menu Styles ******/
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.contents {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #999999;
}

/***********************************************************/


                     /****** Image Grid Styles ******/
                     /*=============================*/ 
.header {
  text-align: center;
  padding: 32px;
}

/* .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
} */

                  /******* Two equal columns that sit next to each other *******/
.column {
  -ms-flex: 50%;
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

                    /****** Style for buttons ******/

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/*****************************************************************/



/****** STYLES FOR PAGES USING PARALAX SCROLLING ******/
/*====================================================*/

.container {
  max-width: 90%;
  margin: 0 auto;
}

section.section:last-child {
  margin-bottom: 0;
}

section.section h2 {
  margin-bottom: 40px;
  font-family: 'Ostrich Sans', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2rem;
  color: #0994db;
}

section.section p {
  margin-bottom: 40px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

section.section p:last-child {
  margin-bottom: 0;
}

section.section.content {
  padding: 40px 0;
  background-color: #212121;
}

section.section.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


section.section.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Syncopate', sans-serif;
  font-size: 3rem;
  line-height: 300px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.section.parallax-1 {
  background-image: url("../images/parallax_1.jpg");
}

section.section.parallax-2 {
  background-image: url("../images/parallax_2.jpg");
}

section.section.parallax-3 {
  background-image: url("../images/parallax_3.jpg");
}


section.section p {
  font-size: 1rem;
  color: #0994db;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-shadow: 0.3px 0.3px 0.5px #07fdf4;
}

section.section.parallax h1 {
  font-size: 3rem;
  font-family: 'Syncopate', sans-serif;
}




