* {box-sizing:border-box}

/* Skill bar containers */

.container {
  width: 100%;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}


/************************ FLOPPY DRIVE BEATS SKILL BARS **********************/

.html-floppy-drive-beats {width: 91.2%; background-color: #4CAF50;} /* Green */
.css-floppy-drive-beats {width: 6.6%; background-color: #2196F3;} /* Blue */
.js-floppy-drive-beats {width: 2.2%; background-color: #f44336;} /* Red */


/***************************************************************************/



/************************ TALBOTT CREATIONS SKILL BARS **********************/

.html-talbott-creations {width: 1.5%; background-color: #4CAF50;} /* Green */
.css-talbott-creations {width: 3%; background-color: #2196F3;} /* Blue */
.js-talbott-creations {width: 1%; background-color: #f44336;} /* Red */
.php-talbott-creations {width: 95%; background-color: #808080;} /* Grey */

/***************************************************************************/



/************************ TRIP THE LIGHT SOUND SKILL BARS **********************/

.html-ttlm {width: 80%; background-color: #4CAF50;} /* Green */
.css-ttlm {width: 17%; background-color: #2196F3;} /* Blue */
.js-ttlm {width: 3%; background-color: #f44336;} /* Red */


/***************************************************************************/



/************************ UNPLUGGED SKILL BARS **********************/

.html-unplugged {width: 51%; background-color: #4CAF50;} /* Green */
.css-unplugged {width: 47.1%; background-color: #2196F3;} /* Blue */
.js-unplugged {width: 1.9%; background-color: #f44336;} /* Red */


/***************************************************************************/



/************************ VANILLA JAVASCRIPT INTERACTIVE ANIMATION SKILL BARS **********************/

.html {width: 65%; background-color: #4CAF50;} /* Green */
.css {width: 30%; background-color: #2196F3;} /* Blue */
.js {width: 4%; background-color: #f44336;} /* Red */
.php {width: 1%; background-color: #808080;} /* Grey */

/***************************************************************************/


/************************ FLOPPY DRIVE BEATS SKILL BARS **********************/

.html {width: 65%; background-color: #4CAF50;} /* Green */
.css {width: 30%; background-color: #2196F3;} /* Blue */
.js {width: 4%; background-color: #f44336;} /* Red */
.php {width: 1%; background-color: #808080;} /* Grey */

/***************************************************************************/




/************************ FLOPPY DRIVE BEATS SKILL BARS **********************/

.html {width: 65%; background-color: #4CAF50;} /* Green */
.css {width: 30%; background-color: #2196F3;} /* Blue */
.js {width: 4%; background-color: #f44336;} /* Red */
.php {width: 1%; background-color: #808080;} /* Grey */

/***************************************************************************/



/************************ FLOPPY DRIVE BEATS SKILL BARS **********************/

.html {width: 65%; background-color: #4CAF50;} /* Green */
.css {width: 30%; background-color: #2196F3;} /* Blue */
.js {width: 4%; background-color: #f44336;} /* Red */
.php {width: 1%; background-color: #808080;} /* Grey */

/***************************************************************************/





/************************ FLOPPY DRIVE BEATS SKILL BARS **********************/

.html {width: 65%; background-color: #4CAF50;} /* Green */
.css {width: 30%; background-color: #2196F3;} /* Blue */
.js {width: 4%; background-color: #f44336;} /* Red */
.php {width: 1%; background-color: #808080;} /* Grey */

/***************************************************************************/





/************************ FLOPPY DRIVE BEATS SKILL BARS **********************/

.html {width: 65%; background-color: #4CAF50;} /* Green */
.css {width: 30%; background-color: #2196F3;} /* Blue */
.js {width: 4%; background-color: #f44336;} /* Red */
.php {width: 1%; background-color: #808080;} /* Grey */

/***************************************************************************/




/************************ FLOPPY DRIVE BEATS SKILL BARS **********************/

.html {width: 65%; background-color: #4CAF50;} /* Green */
.css {width: 30%; background-color: #2196F3;} /* Blue */
.js {width: 4%; background-color: #f44336;} /* Red */
.php {width: 1%; background-color: #808080;} /* Grey */

/***************************************************************************/


/************************ FLOPPY DRIVE BEATS SKILL BARS **********************/

.html {width: 65%; background-color: #4CAF50;} /* Green */
.css {width: 30%; background-color: #2196F3;} /* Blue */
.js {width: 4%; background-color: #f44336;} /* Red */
.php {width: 1%; background-color: #808080;} /* Grey */

/***************************************************************************/